@page "/createestate"
@using Application.EstateApp.IEstateServices.IEstateOrchestrationServices
@using Application.SharedApp.IOwnershipServices
@using Application.UserApp.AuthServices
@using Application.EstateApp.EstateDtos
@using Application.UserApp.IAuthServices
@using Application.UserApp.UserDtos
@using Application.SharedApp.OwnershipDtos
@using Microsoft.AspNetCore.Authorization
@inject IEstateOrchestrationService OrchestrationService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@attribute [Authorize]

<h3>Create Your Estate</h3>

<div class="registration-box">
    <input placeholder="Estate Name" @bind="newEstate.EstateName" class="input-style" />

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="text-danger">@errorMessage</div>
    }

    <button class="button" @onclick="CreateEstateAsync">Create Estate</button>
</div>

@code {
    private EstateCreationDto newEstate = new();
    private string errorMessage;

    private async Task CreateEstateAsync()
    {
        if (!AuthService.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        Guid userGuid = AuthService.CurrentUserGuid;

        var userDto = new UserDto { UserId = userGuid };

        var ownershipDto = new EstateOwnershipDto
        {
            UserId = userGuid,
            isPrimaryOwner = true
        };

        var result = await OrchestrationService.CreateEstateWithOwnership(
            ownershipDto,
            newEstate,
            userDto
        );

        if (!result.IsAllowed)
        {
            errorMessage = result.Message;
            return;
        }

        NavigationManager.NavigateTo("/estatemanager");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Restore from JWT in localStorage
            await AuthService.RestoreFromLocalStorage();
            StateHasChanged();
        }
    }
}